<mat-sidenav-container class="sidenav-container">
  <mat-sidenav class="orange" #sidenav mode="side" [opened]="isSidebarOpen">
    <mat-nav-list>
      <a mat-list-item routerLink="/">
        <div class="i-will-beat-my-son">
          <div class="icon">
            <mat-icon>home</mat-icon>
          </div>
          <span>Home</span>
        </div>
      </a>
      <a mat-list-item routerLink="/cars">
        <div class="i-will-beat-my-son">
          <div class="icon">
            <mat-icon>directions_car</mat-icon>
          </div>
          <span>Cars</span>
        </div>
      </a>
      <a mat-list-item routerLink="/login">
        <div class="i-will-beat-my-son">
          <div class="icon">
            <mat-icon>login</mat-icon>
          </div>
          <span>Login</span>
        </div>
      </a>
      <a mat-list-item routerLink="/register">
        <div class="i-will-beat-my-son">
          <div class="icon">
            <mat-icon>person_add</mat-icon>
          </div>
          <span>Register</span>
        </div>
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
