<div class="container">
  <div class="filters-container">
    <mat-form-field>
      <mat-label>Brands</mat-label>
      <input
        #brandInput
        type="text"
        placeholder="Pick one"
        matInput
        [formControl]="brand"
        [matAutocomplete]="autoBrands"
        (input)="filterBrands()"
        (focus)="filterBrands()"
      />
      <mat-autocomplete requireSelection #autoBrands="matAutocomplete">
        @for (brand of filteredBrands; track brand) {
        <mat-option [value]="brand">{{ brand }}</mat-option>
        }
      </mat-autocomplete>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Categories</mat-label>
      <input
        #categoryInput
        type="text"
        placeholder="Pick one"
        matInput
        [formControl]="category"
        [matAutocomplete]="autoCategory"
        (input)="filterCategories()"
        (focus)="filterCategories()"
      />
      <mat-autocomplete requireSelection #autoCategory="matAutocomplete">
        @for (category of filteredCategories; track category) {
        <mat-option [value]="category">{{ category }}</mat-option>
        }
      </mat-autocomplete>
    </mat-form-field>
    <div class="slider-container">
      <p>Price:</p>
      <mat-slider min="0" max="500" discrete step="5">
        <input matSliderStartThumb (dragEnd)="updateMinPrice($event)">
        <input matSliderEndThumb (dragEnd)="updateMaxPrice($event)">
      </mat-slider>
    </div>
  </div>
  <div class="cars-container">
    <button mat-icon-button color="primary" class="left">
      <mat-icon>chevron_left</mat-icon>
    </button>
    <div class="cars">
      @for (car of filteredAndPagedCarDTO.cars; track car.id) {
        <mat-card>
          <mat-card-header>
            <mat-card-title>{{ car.model }}</mat-card-title>
          </mat-card-header>
          <img mat-card-image src={{car.imageUrl}} />
          <mat-card-content>
            <p>{{ car.description }}</p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button color="primary">Details</button>
          </mat-card-actions>
        </mat-card>
      }
    </div>
    <button mat-icon-button color="primary" class="right">
      <mat-icon>chevron_right</mat-icon>
    </button>
  </div>
</div>
